.categories-wrp {
  background: $color-main-grey;
  .wrapper {
    max-width: 1400px;
    margin: auto;

    .container-fluid {
      .row {
        display: flex;
        flex-direction: column;

        .category {
          min-height: 200px;
          background: #f9fbfc;
          float: left;
          order: 2;
          margin-bottom: 1rem;
          padding-left: 2rem;
          padding-right: 1.5rem;
          // transition: height 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);

          h3,
          h4 {
            text-transform: uppercase;
            padding: 1rem 0;
          }

          h5 {
            padding: 1rem 0;
          }
          .carrency-range input {
            width: 55px;
            height: 30px;
            margin: 0 0.25rem;
          }

          /* .control {
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 18px;
          }

          input {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }

          .control__indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: $color--light-grey;
          }

          .control:hover input,
          .control input:focus {
            background: $color--grey;
          }

          .control input:checked {
            background: $color--primary;
          }

          .control:hover input:not([disabled]):checked,
          .control input:checked:focus {
            background: $color--secondary;
          }

          .control input:disabled {
            background: $color--light-grey;
            opacity: 0.6;
            pointer-events: none;
            &:after {
              content: "";
              position: absolute;
              display: none;
            }
            .control input:checked {
              display: block;
            }
            .control--checkbox {
              left: 8px;
              top: 4px;
              width: 3px;
              height: 8px;
              border: solid $color--white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
            .control--checkbox input:disabled {
              border-color: $color--dark-grey;
            }
            
          }  */
        }

        .category__header {
          min-height: 50px;
          // background: #558;
          float: right;
          margin-bottom: 1rem;
          order: 1;
          .row {
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            // justify-content: flex-end;
            .category__sort-dot,
            .category__sort-line {
              margin-top: 8px;
              margin-right: 18px;
              width: 24px;
              height: 24px;
              padding: 1px;
              box-sizing: border-box;
              font-size: 0;
              cursor: pointer;
              &:hover {
                transform: scale(1.2);
              }
              .sort-dot__dot {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-right: 2px;
                margin-bottom: 2px;
                background: $color-bg-dot;
                border-radius: 50%;
              }
              .sort-line__line {
                display: block;
                width: 18px;
                height: 7px;
                border: 3px solid $color-bg-dot;
                border-radius: 3px;
                margin-bottom: 2px;
                margin-top: 1px;
              }
            }
            .category__sort-forms {
              font-family: "Muli", sans-serif;
              display: flex;
              font-size: 14px;
              .sort-forms__btn {
                border-top: 1px solid $color-border-grey;
                border-bottom: 1px solid $color-border-grey;
                border-right: 1px solid $color-border-grey;
                padding: 0 .5rem;
                height: 34px;
                background: #fafbfc;
                cursor: pointer;
                margin: 0;
                span {
                  padding: 0 .25rem;
                }
                &:first-of-type {
                  background: $color-blue;
                  color: $color--white;
                  border: none;
                }
                .arrow-down,
                .arrow-up {
                  // color: #F8D6F4;
                  // color: #fb8684;
                  color: salmon;
                  font-size: 18px;
                  font-weight: bold;
                }
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }
        }

        .category__main {
          min-height: 350px;
          // background: #833;
          order: 3;
        }

        .hide {
          position: absolute;
          top: -2000px;
          height: 0;
          overflow: hidden;
          transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
        }

        .show {
          top: 0;
          height: 100%;
          transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
        }
      }
    }
  }
}

@media (min-width: 662px) {
  .categories-wrp {
    .wrapper {
      .container-fluid {
        .row {
          display: block;

          .category {
            width: 276px;
            float: left;
          }
          .category__header {
            width: calc(100% - 276px - 6px);
            float: right;
          }
          .category__main {
            width: calc(100% - 276px - 6px);
            float: right;
          }
          .hide {
            width: 0;
            transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
          }
          .show {
            transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
            width: 100%;
          }
        }
      }
    }
  }
}
