.categories-wrp {
  background: $color-main-grey;
  .wrapper {
    max-width: 1400px;
    margin: auto;

    .container {
      .row {
        display: flex;
        flex-direction: column;

        .category {
          min-height: 200px;
          background: #f9fbfc;
          float: left;
          order: 2;
          margin-bottom: 1rem;
          padding-left: 2rem;
          padding-right: 1.5rem;

          h3, h4 {
            text-transform: uppercase;
            padding: 1rem 0;
          }

          h5 {
            padding: 1rem 0;
          }
          .carrency-range input {
              width: 55px;
              height: 30px;
              margin: 0 .25rem;
          }
         /* .control {
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 18px;
          }

          input {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }

          .control__indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: $color--light-grey;
          }

          .control:hover input,
          .control input:focus {
            background: $color--grey;
          }

          .control input:checked {
            background: $color--primary;
          }

          .control:hover input:not([disabled]):checked,
          .control input:checked:focus {
            background: $color--secondary;
          }

          .control input:disabled {
            background: $color--light-grey;
            opacity: 0.6;
            pointer-events: none;
            &:after {
              content: "";
              position: absolute;
              display: none;
            }
            .control input:checked {
              display: block;
            }
            .control--checkbox {
              left: 8px;
              top: 4px;
              width: 3px;
              height: 8px;
              border: solid $color--white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
            .control--checkbox input:disabled {
              border-color: $color--dark-grey;
            }
            
          }  */
        }

        .category__header {
          min-height: 50px;
          // background: #558;
          float: right;
          margin-bottom: 1rem;
          order: 1;
        }

        .category__main {
          min-height: 350px;
          // background: #833;
          order: 3;
        }

        .hide {
          position: absolute;
          top: -2000px;
          height: 0;
          overflow: hidden;
        }

        .show {
          top: 0;
          height: 100%;
        }
      }
    }
  }
  .card {
    width: 350px;
    
  }
  .card-img-top {
    margin-bottom: 20px;
  }
  .card-title {
    font-size: 14px;
    line-height: 20px;
    color: #969696;
    font-family: "Muli";
    font-weight: bold;
    text-align: left;
  }
  .card-body {
    padding: 0;
  }
  .card-text {
    font-size: 12px;
    line-height: 16px;
    color: #3e4352;
    font-family: "Muli";
    text-align: left;
    font-weight: 800;
  }
  .card-text-secondary {
    font-size: 11px;
    line-height: 16px;
    color: #848996;
    font-family: "Muli";
    text-align: left;
    font-weight: 800;
  }
  .card-rating {
    display: flex;
    height: 30px;

    &-img {
      margin-right: 10px;
    }
    &-count {
      font-size: 11px;
      line-height: 30px;
      color: #8d93a3;
      font-family: "Muli";
      font-weight: bold;
    }
  }
  .card-country {
    display: flex;
    
    &-img {
      margin-right: 10px;
    }
  }
  
}

@media (min-width: 662px) {
  .categories-wrp {
    .wrapper {
      .container {
        .row {
          display: block;
        }
        .category {
          width: 276px;
          float: left;
        }
        .category__main {
          width: calc(100% - 276px - 6px);
          float: right;
        }
        .category__header {
          width: calc(100% - 276px - 6px);
          float: right;
        }
        .hide {
          width: 0;
        }
        .show {
          width: 100%;
        }
      }
    }
  }
}
