.footer--fluid {
    background: $color-footer-grey;
    .footer__wrapper {
      max-width: 1400px;
      .form-report {
        max-width: 443px;
        margin-bottom: 44px;
        button {
          width: 10rem;
          background-color: $color-blue;
          &:hover {
            background-color: $color-blue-hover;
          }
        }
      }
      .footer-main {
        max-width: 1155px;
        border-top: 1px solid $color-border-grey;
        .footer-choose-forms {
          .custom-select {
            background: url(../img/black-triangle-sm.png);
            background-repeat: no-repeat;
            background-position: 60% 60%;
            border: none;
            cursor: pointer;
          }
        }
        .footer-nav {
          .footer__title {
            text-align: left;
          }
          .footer__list {
            list-style: none;
  
            .footer__list__item > a {
              color: #3e4352;
              text-decoration: none;
              transition-duration: 50ms;
  
              &:hover {
                color: #4382f9;
              }
            }
            .link__blue {
              text-decoration: none;
              transition-duration: 50ms;
              color: $color-blue;
              &:hover {
                color: $color-blue-hover;
              }
            }
          }
        }
      }
    }
  }
  
  
  .footer__sublist {
    display: flex;
    padding: 0;
    text-align: left;
    list-style: none;
    align-items: center;
    &__item {
      margin: 0 5px;
    }
 
  }
