/*  --------------  Button  --------------------- */

#content {
  height: 4rem;
  display: flex;
  align-items: center;
}
#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}
#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transform: scale(0.5);
  transform-origin: center;
}
#sidebarCollapse span:first-of-type {
  /* rotate first one */
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  /* second one is not visible */
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  /* rotate third one */
  transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
  /* no rotation */
  transform: none;
  /* all bars are visible */
  opacity: 1;
  margin: 5px auto;
}
@media (max-width: 768px) {
#sidebarCollapse span:first-of-type,
#sidebarCollapse span:nth-of-type(2),
#sidebarCollapse span:last-of-type {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}
}
/*  --------------  Button END--------------------- */
/*  --------------  MOBILE FIRST --------------------- */
.row--header {
  flex-direction: row;
  flex-wrap: wrap;

  #content {
    width: 15%;
    margin: 0;
  }
  /*   logo-wrp  */
  .logo-wrp {
    width: 25%;
    padding: 1rem 0 0;
    margin: 0;
    box-sizing: border-box;
    img {
      width: 100px;
      height: 30px;
      display: block;
    }
  }
  /*   logo-wrp  end */
  /*   select        */
  .header-choose-forms {
    width: 60%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem 0 0;
    select {
      border: none;
    }
    .header-choose-forms__currency {
      display: none;
    }
    .header-choose-forms__people {
      position: relative;

      .icon-user-solid-circle {
        position: absolute;
        font-size: 20px;
        top: 10px;
        right: 60px;
      }
    }
  }
  /*   select end       */

  /*   input       */
  .input-group--header {
    margin: 0;
    box-sizing: border-box;
    padding: 0.75rem 0;
    position: relative;
    .product-select {
      border: 1px solid $color-blue;
      background: $color-blue;
      color: $color--white;
      font-size: 14px;
      font-family: "Muli", sans-serif;
      letter-spacing: 1.2px;
      display: block;
      height: 46px;
      width: 117px;
    }
    input {
      border: 2px solid $color-blue;
      display: block;
      height: 46px;
      position: relative;
      font-size: 13px;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color--grey;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color--grey;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color--grey;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $color--grey;
      }
    }
    .icon-search {
      font-size: 20px;
      color: $color-blue;
      position: absolute;
      right: 10px;
      top: 26px;
    }
  }
}

/*  --------------  MOBILE END --------------------- */
@media (min-width: 768px) {
  .row--header {
      flex-wrap: nowrap;
    #content {
      width: 5%;
      margin: 0;
      order: 1;
    }
    .logo-wrp {
      width: 18%;
      order: 2;
    }
    .header-choose-forms {
      direction: ltr !important;
        order: 5;
        width: 16%;
        .custom-select {
          background: url(../img/black-triangle-sm.png);
          background-repeat: no-repeat;
          background-position: 80% 60%;
          border: none;
          cursor: pointer;
              }
        .header-choose-forms__currency {
            display: block;
          }
    }
    .input-group--header {
      width: calc(46% - 1rem);
      order: 3;
    }
    .rfq-btn {
        order: 4;
        display: flex;
        align-items: center;
        margin: 0 1rem;
      button {
        padding: 0;
        margin: 0;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        border: 2px solid $color-blue;
        color: $color-blue;
        background: transparent;
        font-size: 12px;
        line-height: 20px;
        margin-right: 10px;
      }
      span {
        font-size: 14px;
        color: $color-blue;
        font-family: "Muli";
      }
    }
  }
}

@media (min-width: 1200px) {
  .row--header {
    padding-left: 1rem;
    .logo-wrp {
      padding: 0.75rem;
      margin-right: 106px;
      img {
        width: 130px;
        height: 39px;
      }
    }
    .input-group--header {
      width: 635px;
      margin-right: 46px;
    }
    .rfq-btn {
      width: 100px;
      margin-right: 100px;
    }
    .header-choose-forms {
      padding: 0.75rem 0;
      display: flex;
      justify-content: flex-end;
      .custom-select {
        border: none;
      }
      .icon-user-solid-circle {
        position: absolute;
        font-size: 20px;
        top: 10px;
        right: 60px;
      }
    }
  }
}
