/*
   Import partials below
*/
@import "fonts";
@import 'normalize';
@import 'bootstrap-grid.min';
@import 'header';
@import 'footer';
@import 'categories';
@import 'hero';

.row {
width: 100%;
text-align: center; 
margin-left: 0;
}
